html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#viseur {
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-37px;
    margin-left:-37px;
}
/*
#guiCanvas {
    position:absolute;
    top:0;
    pointer-events: none;
}*/
