html, body {
    overflow: hidden;
    width   : 100%;
    height  : 100%;
    margin  : 0;
    padding : 0;
}

#renderCanvas {
    width   : 100%;
    height  : 100%;
    touch-action: none;
}


#score {
    position: absolute;
    right: 20px;
    top: 60px;
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px 0 black;
}

#label {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 0 black;
}

#tooltip {
    position: absolute;
    top: 20px;
    left:20px;
    font-size: 18px;
    color: white;
    text-shadow: 2px 2px 0 black;
    z-index : 3;
}

#opacity {
    opacity: 0.8;
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.hidden {
    display:none;
}